{% extends "vergleich/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}

{% block page-css %}
<link rel="stylesheet" href="{% static 'assets/css/vergleich_style.css' %}">

<style>
    div.col-md-9{
        display: none;
    }
</style>

{% endblock %}


{% block page-title %}Создание конфигурации{% endblock %}


{% block content %}

<div class="col-md-9">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">
                {% if view.type_of_view == 'FormView' %}
                    Заполните форму для добавление в таблицу сравнения
                {% elif view.type_of_view == 'UpdateView' %}
                    Измените компоненты и сохраните конфигурацию
                {% endif %}
            </strong>
        </div>
        <form action="" method="post">
            <div class="card-body">
                <p class="card-text">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                </p>
            </div>
            <div class="card-footer">

                {% if view.type_of_view == 'FormView' %}
                    <input type="submit" class="btn btn-outline-primary btn-lg btn-block"></input>
                {% elif view.type_of_view == 'UpdateView' %}
                    <input type="submit" class="btn btn-outline-success btn-lg btn-block"></input>
                {% endif %}

            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}

    <script>
        jQuery(document).ready(function($) {
            $("#id_cpu").addClass("form-control-sm form-control")
            $("#id_ram").addClass("form-control-sm form-control")
            $("#id_hdd").addClass("form-control-sm form-control")
            $("#id_vga").addClass("form-control-sm form-control")
            $("table").addClass("table")
            $(".col-md-9").css("display", "initial")
        });
    </script>

{% endblock %}