{% extends "vergleich/base.html" %}
{% load staticfiles %}

{% block page-title %}Главная{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Приветствую!</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                <div class="col-md-9">
                    <p>
                        Вы находитесь на главной странице программы сравнения конфигураций компьютеров.
                    </p>
                    <p>
                        Современное общество невозможно представить без компьютеров. Будь то обычная сим-карта или дата-центр в несколько десятков гектар площадью,
                        смартфоны, настольные решения, планшеты, игровые автоматы, сложные системы управления технологическими линиями — всё это представляет собой
                        компьютер в том или ином виде. Компьютеризация несомненно затронула все сферы жизнедеятельности человечества. Вычислительные машины являются
                        мощным инструментом, который упрощает нашу жизнь. Компьютеру не нужен отдых, а вышедшие из строя детали легко заменить. А в последние годы
                        складывается тенденция к развитию слабой форме искусственного интеллекта — когда компьютер начинает делать выводы по решаемой задаче самостоятельно,
                        что уже применяется в области медицины и астрономии.
                    </p>
                    <p>
                        Среди массового потребителя очень популярно решение в виде стационарного домашнего компьютера, который позволяет выполнять игровые и
                        мультимедийные функции. Чаще всего представляет собой совокупность нескольких компонентов: системный блок, монитор, манипуляторы ввода
                        (клавиатура, мышь), колонки. Подобная конфигурация позволяет легко заменить любой из компонентов самостоятельно, не обладая специфичными
                        знаниями или инструментом. Компоненты системного блока так же представляют из себя отдельные аппаратные решения, которые можно заменить.
                        Если выбор периферийных устройств не представляет сложную задачу, то выбор компонентов системного блока — задача требующего особых знаний.
                        Данная программа позволяет формировать конфигурации системного блока с учётом производительности компонентов. На соотвествующи страницах
                        Вы можете как <b><a href="#">создать</a></b> конфигурацию, так и <b><a href="#">сравнить</a></b> сохранённые ранее конфигурации.
                    </p>
                </div>
                <div class="col-md-3">
                    <a href="https://www.modders-inc.com/green-way-hostiti-modding/" target="_blank"><img src="{% static 'images/pic_001.jpg' %}" alt=""></a>
                </div>
            </p>
        </div>
    </div>
</div>

{% endblock %}