{% extends "vergleich/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}

{% block page-css %}
<style>
    div.col-md-3{
        display: none;
    }
</style>
{% endblock %}

{% block page-title %}Сводная таблица{% endblock %}

{% block content %}

<div class="col-md-9">
    <div class="feed-box text-center">
        <section class="card">
            <div class="card-body">
                <h2>{{ page_name }}</h2>
                <p>
                    {% render_table table %}
                </p>
            </div>
        </section>
    </div>
</div>

<div class="col-md-3">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Фильтр</strong>
        </div>
        <div class="card-body">
            <!-- <p class="card-text"> -->
                <form action="" method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" class="btn btn-outline-success btn-sm"></input>
                </form>
            <!-- </p> -->
        </div>
    </div>
</div>

{% endblock %}


{% block js %}

    <script>
        jQuery(document).ready(function($) {
            $("#id_name").addClass("form-control col-sm-12");
            $("#id_name").prev().text("Имя содержит");

            {% if view.ram_table == "True" %}
                $("#id_speed_read_0").addClass("form-control");
                $("#id_speed_read_1").addClass("form-control");
                $("#id_speed_read_0").prev().text("Скорость чтения между");
                $("#id_speed_read_0").attr("placeholder", "Начиная с ...");
                $("#id_speed_read_1").attr("placeholder", "... до");
                $("#id_speed_write_0").addClass("form-control");
                $("#id_speed_write_1").addClass("form-control");
                $("#id_speed_write_0").prev().text("Скорость записи между");
                $("#id_speed_write_0").attr("placeholder", "Начиная с ...");
                $("#id_speed_write_1").attr("placeholder", "... до");
                $("#id_latency_0").addClass("form-control");
                $("#id_latency_1").addClass("form-control");
                $("#id_latency__contains").prev().text("Задержка между");
                $("#id_latency_0").attr("placeholder", "Начиная с ...");
                $("#id_latency_1").attr("placeholder", "... до");
            {% else %}
                $("#id_score_0").addClass("form-control");
                $("#id_score_0").attr("placeholder", "Начиная с ...");
                $("#id_score_0").prev().text("Счёт между");
                $("#id_score_1").addClass("form-control");
                $("#id_score_1").attr("placeholder", "... до");
                $("#id_rank").addClass("form-control");
                $("#id_rank").prev().text("Позиция");
            {% endif %}

            $("#id_price_0").addClass("form-control");
            $("#id_price_0").attr("placeholder", "Начиная с ...");
            $("#id_price_0").prev().text("Цена между");
            $("#id_price_1").addClass("form-control");
            $("#id_price_1").attr("placeholder", "... до");
            $("#id_in_stock").addClass("form-control");
            $("#id_in_stock").prev().text("Наличие");

            $(".col-md-3").css("display", "initial");
        });
    </script>

{% endblock %}